<div class="calc-print-container">
    <h2>Calculation Results</h2>
    <div class="result-item">
      <span class="result-label">Volume:</span>
      <span class="result-value">{{ resultsFromObservable.volume.toFixed(2) }} cm³</span>
    </div>
    <div class="result-item">
      <span class="result-label">Weight:</span>
      <span class="result-value">{{ resultsFromObservable.weight.toFixed(2) }} g</span>
    </div>
    <div class="result-item">
      <span class="result-label">Cost:</span>
      <span class="result-value">R {{ resultsFromObservable.cost.toFixed(2) }}</span>
    </div>

  </div>